.container {
    width: 100%;
    height: 912px;
    background-size: 100% 100%;
    background-image: url("../img/background1X.png");
    position: relative;
    font-family: Montserrat-bolf, sans-serif;

}
.header {
    background-color: rgba(0,0,0,0.4);
    height: 56px;;
}

a {
    text-decoration: none;
    color: rgba(60, 184, 120, 255);
}
.h1 {
    display: inline-block;
    width: 10%;
    font-size: 25px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    margin-left: 90px;
    margin-top: 22px;
}
.h1:hover {
    color: #3cb878;
}

.span-header {
    display: inline-block;
    width: 18%;
    float: right;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    padding: 1px 1px;
    margin-top: -40px;
    clear: right;
}

.main {
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    position: absolute;
    left:34%;
    right: 34%;
    top: 13%;
    border-radius: 9px 9px 9px 9px;

}
.greenbox {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    display: inline-block;
}
.h2 {
    display: inline-block;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    text-align: center;
    margin-left: 42px;
    margin-top: 29px;
}
.login2{
    font-size: 16px;
    color: rgba(60, 184, 120, 255);
    text-align: left;
    margin-left: 205px;
    margin-top: 33px;
}
.buttons {
    display: inline-block;
    margin-left: 62px;

}
.button1 {
     width: 157px;
     height: 46px;
     border-radius: 6px 6px 6px 6px;
     font-size: 16px;
     color: rgba(255, 255, 255, 255);
     text-align: left;
     background-color: #305db8;
 }
.button2 {
    width: 157px;
    height: 46px;
    border-radius: 6px 6px 6px 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    background-color: #df4a32;
}
span.f {
    font-size: 24px;
    padding: 20px;
}
span.g {
    font-size: 24px;
    padding: 20px;
}

legend {
    text-align: center;
    color: rgba(132, 132, 132, 255);

}
input{
    width: 322px;
    height: 46px;
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    color: rgba(190, 190, 190, 255);
    text-align: left;
    padding-left: 18px;
    margin-left: 47px;
    margin-bottom: 9px;

}
input:active{
    box-shadow: 0 4px 14px rgba(0 ,0 ,0, 0.3);
}

input.checkbox {
    width: 15px;
    height: 15px;
}


.button3 {
    width: 343px;
    height: 53px;
    border-radius: 5px 5px 5px 5px;
    font-size: 19px;
    background-color: #3cb878;
    color: white;
    text-align: center;
    padding-left: 18px;
    margin-left: 47px;
    margin-bottom: 14px;
}
.terms{
    color:#3cb878;
}
.or {
    display: block;
    text-align: center;
    margin: 15px;
}