
body {

    width: 1366px;
    height: 768px;
    margin: 0 auto;


}
.container{
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
}

.head-left {
    display: inline-block;
    width: 340px;
}

.holiday {
    font-size: 18px;

}
.photographi {
    display: inline-block;
    width: 330px;
    margin: 24px;
}
.photographi:hover .descr {
    opacity: 1;
    background: #f26522;
}

.image-menu {
    width: 1271px;
    margin-left: 90px;
}
.logo {
    float: left;
    margin-left: 155px;
    margin-top: 49px;
    clear: left;
 }
.logo:hover{
    background-image: url("../img/header-img-orange.jpg");
}

.head-logo {
    text-decoration: none;
}

 .h1 {
     margin-left: 216px;
     margin-top: 49px;
     font-size: 29px;
     color: rgba(255, 255, 255, 255);
     text-align: left;
     text-transform: uppercase;
 }
 h1:hover {
     color: rgba(242, 101, 34, 255);
 }

.head-right {
    display: inline-block;
    width: 200px;
    float: right;
    padding-right: 147px;
    padding-top: 57px;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
}
.descr {
    display: block;
    position: absolute;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 307px;
    margin-top: 139px;
    opacity: 0;
}
.descr:after{
    content: "\25BC";/* принцип роботи псевдоелемента зрозумів але не до кінця розібрався де взяти коди для символів і чому вони не всі відображаються*/
    font-size: 10px;
}

.euro {
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-right: 130px;
}

.view {
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
}
.view:hover{
    color:  #f26522;
}

span.underimage {
    padding-left: 115px;
    font-size: 18px;
}
.paragraph {
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
}

