
/* хедер в якому лого, заголовок першого рівня, меню по середині і кнопка пошуку справа*/

.header {
    display: flex;
    background-color: #1d2124;
    justify-content: space-between;
    font-family:'Open Sans', sans-serif;
}
.architect-logo {
    display: flex;
    width: 300px;
}
.header-menu {
    width: 760px;
    padding-top: 3px;
}
.img-logo {
    padding: 13px;
    background-color: #1a1d20;
}
.h1 {
    display: inline;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-left: 10px;
}
li {
    font-family:'Open Sans', sans-serif;
    display: inline;
}
a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
}
.search-box {
    display: flex;
    width: 301px;
    height: 55px;
}
.search-btn {
    color: white;
    width: 56px;
    height: 55px;
    background: #171a1c;
    border: none;
    cursor: pointer;
}
.search-txt {
    border: none;
    outline: none;
    background: #484848;
    padding: 10px;
    font-size: 16px;
    width: 240px;
    color: #ffffff;

}



/* перша секція заголовок другого рівня і дві кнопки на фоні міста*/
.section-one {
    width: 100%;
    height: 400px;
    background-image: url("../img/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.latest-news-on-design {
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin-top: 127px;
}
.buttons {
    width: 355px;
    margin-top: 44px;
}
.button {
    width: 170px;
    height: 55px;
    border-radius: 8px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}
.button1 {
    background: #89ca62;
    margin-right: 10px;
}
.button2 {
    background: #14b9d5;
}



/* друга секція заголовок другого рівня і 6 фото з підписом*/
.section-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f2f2f2;
}

.most-popular-posts {
    width: 100%;
    text-align: center;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    margin-top: 43px;
    font-family: 'Open Sans', sans-serif;
}

article {
    width: 370px;
    margin: 25px 10px ;
    background: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #353A3D;
}
.img {
    margin-bottom: 10px;
}
.span {
    display: inline-block;
    margin-bottom: 15px;
}


/* третя секція: заголовок другого рівня our most popular clients і назви клієнтів по середині у вигляді зображення розділені лінією */

.section-three {
    min-height: 590px;
    background-image: url("../img/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.h2-section-three {
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    grid-column: 1/5;
    padding-top: 201px;
    text-align: center;
    margin: 0;
}
.blue-line-container {
    padding-left: 733px;

}
.blue-line {
    display: block;
    content: ".";
    width: 60px;
    height: 4px;
    background: #20807c;
    grid-column: 1/5;
}
.images {
    grid-column: 1/5;
    padding-left: 230px;
}
.img-clients {
    padding-left: 80px;
}

/* четверта секція заголовок другого рівня top rated і 6 картинок*/

.section-four {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.top-rated {
    grid-column: 1/7;
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans-bold', sans-serif;
    padding-top: 63px;
}

.top-rated-img {
    width: 100%;
    padding-top: 52px;
}
/* п'ята секція заголовок другого рівня "hot news" і картинки з описом
твориться полний ппц з назвами класів...
через те що спочатку не виходило розмістити блоки так як потрібно
*/


.container {
    margin: 51px auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    width: 1130px;
    grid-gap: 20px;

}
.hot-news {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    color: #18B4CF;
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
}
h3 {
    margin: 0;
    padding: 14px;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: right;
    font-family: 'Open Sans-bold', sans-serif;
}
p {
     padding: 14px;
     margin: 0;
     text-align: right;
     font-family: 'Open Sans-bold', sans-serif;
     font-size: 14px;

 }
.firstblock-h3 {
    margin-top: 41px;
}
.smallbox-h3 {
    text-align: center;
}

.box  {
    background: #f9f7f7;
}
.box1 {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 60% 40%;
}
.box3 {

    grid-column: 1/3;
    grid-row: 2/4;

}
.box4 {
    grid-column: 3/5;
    grid-row: 2/4;
}
.box5 {
    grid-column: 1/3;
    grid-row: 4/6;
}
.box6 {
    grid-column: 3/5;
    grid-row: 4/6;
}
.box8{
    display: grid;
    grid-column: 2/5;
    grid-template-columns: 60% 40%;
}

/*остання секція футер*/
footer {
    height: 70px;
    background: #1d2124;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lioit-logo {
    text-transform: uppercase;
    font-family: 'Open Sans-bold', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding-top: 25px;
}
.reserved {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    margin-top: 12px;
}
.imglioit {
    width: 3%;
}