body, html {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Montserrat-bolf', sans-serif;
}
.header {
    font-size: 30pt;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    margin-top: 61px;
    margin-left: 101px;
    text-decoration: none;
}
.logo {
    color: mediumspringgreen;/*можливо не той колір та скоріш за все я не знаю де його шукати в завданні тому підібрав найбільш схожий*/
}
.h1 {
    color: rgba(0, 0, 0, 255);
    text-decoration: none;
}
.head-menu {
    border: 1px solid black;
    background-color: dimgray;
    margin-top: -40px;
}
.head {
    display: inline;
    text-align: center;
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    margin-left: 50px;
}

.div2 {
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
}
.div2:hover {
    text-decoration: -moz-default-background-color;
    color: darkgray;
}

img {
    border: 1px solid black;
    margin-top: 17px;
    display: inline-block;
    padding: 40px 40px;
    float: right;
}
.body{
    display: inline-block;
    width: 100%;
}
.body-menu-list {
    list-style-type: none;
    width: 344px;
    height: 399px;
    border:1px solid cadetblue;
    display: inline-block;

}
.body-menu-1 {
    font-size: 20.99244pt;
    color: rgba(73, 88, 99, 255);
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 37px 0 0 10px;
}
.body-menu-1:hover {
    text-decoration: -moz-default-background-color;
    color: darkgray;
}

.paragraph {
    float: right;
    width: 67%;
    margin-top: 50px;
}
.bottom-parth {
    display: inline-block;
    width: 100%;
}
.bottom-menu-navigation {
    border: 1px solid black;
    background-color: rgb(99, 105, 110);
    width: 100%;
    display: inline-block;
    color: rgba(12, 25, 39, 255);
    text-align: left;
}
.bottom-menu-1 {
    display: inline-block;
    font-size: 22pt;
    color: rgba(255, 255, 255, 255);
    margin-left: 10px;
    vertical-align: top;
    float: left;

}
.div3 {
    color: rgba(12, 25, 39, 255);
    text-decoration: none;
    text-align: center;
}
.div3:hover {
    text-decoration: underline;
    color: cadetblue;
}
.footer {
    font-size: 24pt;
    color: rgba(1, 1, 1, 255);;
    text-align: left;
    float: right;
    width: 20%;
    box-sizing: border-box;
}
