
body {
    font-family: 'Arimo-Bold', sans-serif;
}
main {
    width: 1200px; /* задав ширину щоб вирівняти по центру ато якось не дуже*/
    margin: 0 auto;
}
.tableone {
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
    border: 20px solid #3a4965 ;
}
td {
    width: 310px;
    height: 69px;
    border: 2px solid #e2e2e2;
}
.choose {
    font-size: 18px;
    color: rgb(72, 72, 72);
}
.pricing {
    font-size: 30px;
    color: rgb(72, 72, 72);
}
.menu {
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.menu1 {
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.big {
    font-size: 60px;
    color: rgb(72, 72, 72);
    text-align: left;
    display: inline-block;
}
.small {
    display: inline-block;
    text-align: left;
}
.month {
    font-size: 27px;
    color: rgb(72, 72, 72);
}
.grey {
    width: 192px;
    height: 49px;
    background-color: #484848; /* чи доречно використовувати два способи запису кольору як в даному блоці чи ворто писати однакове значення */
    border-radius: 8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}
.grey:hover {
    background: #89c331;
}
.green {
    width: 192px;
    height: 49px;
    background-color: #89c331;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}
.green:hover{
    background: #df4a32;
}
.red {
    width: 192px;
    height: 49px;
    background-color: #f04a56;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}
.red:hover {
    background: #20807c;
}
.blue {
    width: 192px;
    height: 49px;
    background-color: #20807c;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}
.blue:hover {
   background: #484848;
}
.bottom-row {
    height: 111px;
}
